@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Coda:800');

/*Constant CSS throughout whole website*/
body {
    background-color: #e6eeff;
}

.grid-container {
  max-width: none;
}

/*HEADER*/


#active {
  color: #4d4d4d;
}

/*nav links border to social media links*/
.link_border {
  border-right: solid 2px #cc4400;
}

#Gabi_logo {
  height: 50px;
  width: 50px;
  float: right;
  padding: 0;
  margin: 0;

}

@media (max-width: 475px) {
  #Access {
    font-size: 0%;
    margin: 0;
  }
}

/*FOOTER*/

#Access {
  color: #cc4400;
}
