
body {
  font-family: 'Nunito', sans-serif;
}

h1 {
    padding-top: 20px;
}

/*Contact Me*/
.contact_text {
  text-align: center;
}

#p_contactme {
  padding: 20px 30% 20px 30%;
  border-bottom: solid 2px #cc4400;
  text-align: center;
}

/*Forms*/
#form {
  margin:auto;
  position: relative;
  width: 470px;
  /*padding-left: 30%;*/
}

.inputfield {
  margin-bottom: 10px;
}

input {
  margin:auto;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
}

input:hover {
  background: rgba(204, 68, 0,0.6);
  color: #e2dedb;
}

textarea {
  margin:auto;
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  border: solid 1px #b3aca7;

}

textarea:hover {
  background: rgba(204, 68, 0,0.6);
  color: #e2dedb;
}

/*Submit button*/
#submit {
  margin:auto;
  width: 470px;
  padding:0;
  margin: -5px 0px 0px 0px;

  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  border: solid 1px #b3aca7;
  margin-right: 0;
  color: #726659;

}

#submit:hover {
  color: #e2dedb;
}

/*references upon request*/
#refs p {
  text-align: center;
}

/*to fix bootstrap footer from covering text*/
.footer_height {
  position: absolute;
  width: 100%;
  height:10%;
}

/*fixing weird sizing on mobile device*/
@media (max-width:540px) {
  #form {
    width: 300px;
  }
  .inputfield {
    width: 300px;
  }
  #submit {
    width: 300px;
  }
  #p_contactme {
    padding-left: 10px;
    padding-right: 10px;
  }
}




/*linked in badge (it works and i can do the embedding but i dont like how my page looks so im not using it :)*/
/*.linkdin {
float: right;
}*/

/*.linkdincontainer{
  padding-right: 0px !important;
}*/
