
main {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Nunito', sans-serif;
}
#gabi_picture {
  max-width: 500px;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#myname {
  color: #cc4400;
  font-size: 850%;
  font-family: 'Coda', cursive;
}
#MyText {
  background-color: #FDFFFC;
  text-align: center;
  padding: 20px;
  float: right;

}

h1 {
  font-size: 400%;

}

#Home_Text {
  background-color: #ccddff;
  float: left;
}
