@import url('https://fonts.googleapis.com/css?family=Nunito');

main {
  margin-top: auto;
  margin-bottom: auto;
}
#gabi_picture {
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#MyText {
  background-color: #FDFFFC;
  text-align: center;
  padding: 20px;
  float: right;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 400%;

}

#Home_Text {
  background-color: #ccddff;
  float: left;
}
