@import url('https://fonts.googleapis.com/css?family=Istok+Web:700');
@import url('https://fonts.googleapis.com/css?family=Heebo:900');

.grid-container {
  max-width: none;
}

p {
  max-width: none;
}
body {
    background-color: #e6eeff;
}

h1 {
  font-size: 750%;
  font-family: 'Istok Web', sans-serif;
}

#gabi_enterp {
  border-bottom: solid 4px #cc4400;
}

#Gabi_logo {
  float: right;
}

.pointer {
  position: relative;
  top:0;
  right: 0;
}
