main {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Nunito', sans-serif;
}

/*Picture on home page*/
#gabi_picture {
  max-width: 100%;
  max-height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#myname {
  color: #cc4400;
  font-size: 850%;
  font-family: 'Coda', cursive;
  padding-top: 20px;
}

#Home_Text {
  background-color: #e6eeff;
}

#description {
  font-family: 'Heebo', sans-serif;
  color: rgba(77, 133, 250,0.4);
  font-size: 50px;
}

/*to fix bootstrap footer from covering text*/
.footer_height {
  position: absolute;
  width: 100%;
  height:7%;
}

@media (max-width: 1350px) {
  #myname {
    font-size:750%;
  }
  #description {
    font-size: 40px;
  }
}

@media (max-width: 1240px) {
  #myname {
    font-size: 650%;
  }
  #description {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
   #myname {
    font-size:550%;
  }
  #description {
    font-size: 25px;
  }
}

@media (max-width: 450px) {
   #myname {
    font-size:450%;
  }
}

@media (max-width: 370px) {
   #myname {
    font-size:350%;
  }
}
