
main {
  font-family: 'Nunito', sans-serif;
}

/*isometric project picture*/
.isopic{
  width: 100%;
}

/*cv project image*/
.cvpic{
  width: 100%;

}


.card {
  width: 100%;
  background-color: #ccddff;
  margin: 0 10px;
}
