
main {
  font-family: 'Nunito', sans-serif;
}

/*isometric project picture*/
.isopic{
  width: 100%;
}

/*cv project image*/
.cvpic{
  width: 100%;

}


.card {
  width: 100%;
  background-color: #ccddff;
  margin: 0 10px;
}

.button {
background-color: #e7e7e7; color: black;
/*outline-color: black !important ;*/
}
