
main {
  font-family: 'Nunito', sans-serif;
}

/*isometric project picture*/
.isopic{
  width: 100%;
}

/*cv project image*/
.cvpic{
  width: 70%;
  margin: auto;
  text-align: center;
}

.card {
  width: 80%;
  background-color: #e6eeff;
  margin: 10px 10px;
  text-align: center;

}

/*Button for the bootstrap cards, works but i decided not to use it as i dont have another page leading from the cards*/
/*.button {
background-color: #e7e7e7; color: black;
}*/


/*to fix bootstrap footer from covering text*/
.footer_height {
  position: absolute;
  width: 100%;
  height:10%;
}

/*fixing weird sizing on tablet device*/
@media (max-width:991px) {
  .card {
    flex: none !important;
  }
}
