
/*Font*/
body{
  font-family: 'Nunito', sans-serif;
}

/*Educaiton and profile*/
.top_text {
    padding-top: 30px;
}

/*Profile*/
#profile {
  border-right: solid 2px #cc4400;
}

#profile_title {
  float: right;
}

#profile_des {
  float: right;
  padding-left: 30%;
}

/*Cambridge International School Details*/
.CIS {
  padding: 0;
  margin-bottom: 30px;
}

.CIS p {
  margin-bottom: 0;
}

/*Robert Gordon Uni details*/
.RGU {
  padding: 0;
  margin: 0 ;
}

.RGU p {
  margin-bottom: 0;
}

/*Experience*/

#exp_title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.work_titles {
  font-weight: bold;
}

.job_dates {
  float: right;
  font-weight: bold;
  color: #cc4400;
}

/*Skills*/

#skills_title {
    text-align: center;
    padding-top: 20px;
}

.progress {
  margin-bottom: 10px;
  background-color: #ccddff !important;
}

/*References upon request*/
#refs {
  text-align: center;
  font-size: 150%;

}

/*to fix bootstrap footer from covering text*/
.footer_height {
  position: absolute;
  width: 100%;
  height:7%;
}
