@import url('https://fonts.googleapis.com/css?family=Nunito');

main {
  font-family: 'Nunito', sans-serif;
}

/*isometric project picture*/
.isopic{
  width: 100%;
}

/*cv project image*/
.cvpic{
  width: 100%;

}

.moneypic {
  width: 100%;
}

.card {
  width: 20rem;
}
